body {
  background-color: azure;
}
table#header{
  background-color: royalblue;
}
table.center {
  margin-left: auto;
  margin-right: auto;
  border-color: rgb(10, 10, 10);
  background-color: palegreen;
}
h1 {
  text-align: center;
  font-size: 45px;
}
h2 {
  font-size: 30px;
  text-align: center;
}
p {
  font-size: 20px;
}
p.recipe {
  font-size: 15px;
}
p.top {
  text-align: center;
  font-size: 15px;
}
ol {
  font-size: 20px;
}
ul{
    list-style-type:none; 
    margin:-10px;
    padding:10px;
    text-align: center;
}

a{
    text-decoration-line: none;
    background-color:#FF7733 ;
    color:#FFB833;
    font-family: cursive;
    margin-left:5px;
    padding:10px;
    border:1px solid yellow;
    font-size: 25px;
}

li{
    float:left;
}
a:hover{
        color:#FFB833;
        font-family: cursive;
        background-color:#FF3F33;
}